<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widht-device-widht, initial-scale=1">
    <title>Успешная регистрация!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a th:href="@{/}"  class="navbar-brand">Магазин настольных игр</a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a th:href="@{/login}" class="nav-link">Вход</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/registration}" class="nav-link">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Форма регистрации -->
<section>
    <div>
        <h1>
            <a href="index">Регистрация успешна! Перейти на главную страницу.</a>
        </h1>
    </div>
</section>
</body>
</html>